{% extends "base.html" %}

{% block content %}
<style>

</style>

<div class="container p-5">
<h1 class="">Heart Health Survey</h1>
{% if errorMessage %}<div class="alert alert-danger"><strong>{{errorMessage}}</strong></div>{% endif %}
<form action="{% url 'quizPost' %}" method="post">
{% csrf_token %}

<div class="mb-3">
    <label class="form-label">What is your age?</label><br>
    <input class="form-control" type="number" id="age" name="age" placeholder="Age in years" min="20" max="100">
</div>

<div class="mb-3">
    <label class="form-label">What is your sex?</label>
    <div class="form-check">
        <input type="radio" class="form-check-input" id="sexf" name="sex" value="F">
        <label for="sexf" class="form-check-label">Female</label><br>
    </div>

    <div class="form-check">
        <input type="radio" class="form-check-input" id="sexm" name="sex" value="M">
        <label for="sexm" class="form-check-label">Male</label><br>
    </div>
</div>

<div class="mb-3">
    <label class="form-label">Is your fasting blood sugar above 120 mg/dl?</label>
    <div class="form-check">
        <input type="radio" class="form-check-input" id="fbsy" name="fbs" value="1">
        <label for="fbsy" class="form-check-label">Yes</label><br>
    </div>

    <div class="form-check">
        <input type="radio" class="form-check-input" id="fbsn" name="fbs" value="0">
        <label for="fbsn" class="form-check-label">No</label><br>
    </div>
</div>

<div class="mb-3">
<label class="form-label">What is your cholesterol level (in mg/dl)?</label><br>
<input class="form-control" type="number" id="chol" name="chol" placeholder="Cholesterol level">
</div>

<div class="mb-3">
<label class="form-label">What kind of chest pain do you have?</label>
{% for cp in cps %}
<div class="form-check">
<input type="radio" class="form-check-input" name="cp" id="cp{{ forloop.counter }}" value="{{ cp }}">
<label for="cp{{ forloop.counter }}" class="form-check-label">{{ cp }}</label><br>
</div>
{% endfor %}
</div>

<div class="mb-3">
<label class="form-label">What is your resting blood pressure (systolic)?</label><br>
<input class="form-control" type="number" id="trtbps" name="trtbps" placeholder="Resting blood pressure" min="80" max="200">
</div>

<div class="mb-3">
<label class="form-label">What are your resting electrocardiographic results?</label>
{% for ecg in ecgs %}
<div class="form-check">
<input type="radio" class="form-check-input" name="ecg" id="ecg{{ forloop.counter }}" value="{{ ecg }}">
<label for="ecg{{ forloop.counter }}" class="form-check-label">{{ ecg }}</label><br>
</div>
{% endfor %}
</div>

<div class="mb-3">
<label class="form-label">Do you have thalassemia?</label>
{% for thall in thalls %}
<div class="form-check">
<input type="radio" class="form-check-input" name="thall" id="thall{{ forloop.counter }}" value="{{ thall }}">
<label for="thall{{ forloop.counter }}" class="form-check-label">{{ thall }}</label><br>
</div>
{% endfor %}
</div>

<div class="mb-3">
<label class="form-label">What was the slope of the peak exercise ST segment?</label>
{% for slp in slps %}
<div class="form-check">
<input type="radio" class="form-check-input" name="slp" id="slp{{ forloop.counter }}" value="{{ slp }}">
<label for="slp{{ forloop.counter }}" class="form-check-label">{{ slp }}</label><br>
</div>
{% endfor %}
</div>

<input type="submit" value="Submit" class="btn btn-primary">
</form>
</div>

{% endblock content %}
